<div id="app">
  <% if params["type"] == "single" %>
    <checkout-single></checkout-single>
  <% else %>
    <checkout-subscribe></checkout-subscribe>
  <% end %>

  <rocks-footer></rocks-footer>
</div>
