<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>

<div id="app">

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Failed Payment</h1>
    <p class="lead">Oh no! Your payment was unsuccessful. Please try again shortly.</p>
  </div>

  <div class="container">
    <%= link_to "Take me home", root_path, class: "btn btn-lg btn-block btn-outline-primary" %>
  </div>

  <rocks-footer></rocks-footer>
</div>